* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth
}

@media (max-width: 910px) {
    * {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    * {
        font-size: 13px;
    }
}

.main-content {
    width: 75%;
    background-color: #afafaf;
    margin: auto;
    border-radius: 0 0 20px 20px;
    padding: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.title-header {
    border-radius: 0 20px 20px 0;
    background-color: #356198;
    color: white;
    font-size: 22px;
    margin-top: 0;
    margin-left: -34px;
    margin-bottom: 5px;
    padding: 10px 20px;
    width: fit-content;
}

.title {
    font-size: 25px;
    margin: 10px 0
}

.sub-title {
    margin-top: 10px;
    font-size: 20px
}

.paragraph {
    text-align: justify;
    line-height: 30px;
    color: #1f1e1e
}

.paragraph sup {
    font-size: 13px
}

.mb-1 {
    margin-bottom: 20px
}

.btn {
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #1f5fac;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: background-color .3s ease-in-out
}

.btn:hover {
    background-color: #184883
}

.btn-reset {
    background-color: #fff;
    border: 1px solid gray;
    color: #000;
    margin-left: 5px;
}

.btn-ulang {
    margin-top: 20px;
}

.input-group label {
    margin-right: 10px;
    margin-left: 5px;
}

.btn-reset:hover {
    background-color: #c3c2c2
}

.d-hidden {
    display: none;
}

.error-message {
    color: rgb(255 177 177);
    font-size: 13px;
    margin-top: 5px
}

.container {
    margin: 30px;
}

.form {
    background-color: #757575;
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px 0;
}

.form .form-label {
    display: block;
    margin-bottom: .5rem;
}

.form .form-input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dbdbdbcd;
    appearance: none;
}

.form .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.form .input-group>.form-input {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.form .input-group-desc {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    border: 1px solid;
}

.form .input-group-desc {
    background-color: #9b9b9b;
    border-color: #9b9b9b;
    border-radius: 0 5px 5px 0;
    font-size: 15px;
}

.features {
    margin-left: 20px;
    line-height: 30px;
    color: #1f1e1e;
}

.sub-container {
    background-color: #757575;
    color: white;
    padding: 20px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-title {
    font-size: 20px;
}

.result-bmi {
    font-size: 40px;
}

.result-desc {
    margin: 10px 0 20px;
}

#risk-title {
    font-size: 18px;
}

.button-cta {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.button-cta button {
    font-size: 12px;
}

.list-risk {
    list-style: none;
    display: flex;
    text-align: center;
    padding: 0 15px;
}